<div class="d-flex justify-content-between mt-5">
    <div class="w-100">
        <h1 class="home__title">MindKart</h1>
        <p class="home__tagline">Unleash Your Imagination: Discover, Read, Repeat.</p>
    </div>
    <div class="w-100">
        <%= image_tag "hero-image.jpg", alt: "Hero Image" , class: "img-fluid", style: "" %>
    </div>
</div>
<div class="mt-4">
    <div>
        <h2>Featured Books</h2>
        <div class="d-flex gap-4 mt-4">
            <%@books.each do |book| %>
                <div class="card p-2" style="width: 17rem;">
                    <% if book.image.attached? %>
                        <%= link_to book_path(book) do %>
                            <%= image_tag book.image, alt: book.title, class: "card-img-top", style: "height: 250px; object-fit: contain;" %>
                        <% end %>
                    <% end %>
                </div>
            <%end%>
        </div>
    </div>
</div>
<div class="mt-4">
    <h2>Categories</h2>
    <ul class="mt-4 category-container">
    <% Category.all.each do |category| %>
        <li class="category-item"><%= link_to category.name, category_path(category) %></li>
    <% end %>
    </ul>
</div>