<div class="d-flex justify-content-between mt-5">
    <div class="w-100">
        <h1 class="home__title">MindKart</h1>
        <p class="home__tagline">Unleash Your Imagination: Discover, Read, Repeat.</p>
    </div>
    <div class="w-100">
        <%= image_tag "hero-image.jpg", alt: "Hero Image" , class: "img-fluid", style: "" %>
    </div>
</div>