<h1>Orders</h1>

<table class="table table-striped mt-2">
  <thead>
    <tr class="table-dark">
      <th scope="col">Id</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  <% @orders.each_with_index do |order, idx| %>
      <tr>
      <th scope="row"><%= idx + 1%></th>
      <td><%= order.total%></td>
      <td class="text-capitalize"><%= order.status%></td>
      <td><%= link_to image_tag("icons/details-icon.svg"), order_path(order.id)%></td>
    </tr>
  <% end %>
  </tbody>
</table>
